
<section>

  <form [formGroup]="addItemForm">

    <ion-radio-group>
      <ion-list-header>
        <ion-label>Type</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Drink</ion-label>
        <ion-radio slot="start" value="drink" checked (ionSelect)="setForm(DRINK_FORM)"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Food</ion-label>
        <ion-radio slot="start" value="food" (ionSelect)="setForm(FOOD_FORM)"></ion-radio>
      </ion-item>

    </ion-radio-group>
      
    <div *ngIf="currentForm == DRINK_FORM">
      <ion-select placeholder="Category" (onChange)="setCategory(drinkSelect)" #drinkSelect>
        <ion-select-option value="softDrink">Soft Drink</ion-select-option>
      </ion-select>

      <ion-item>
        <ion-input formControlName="drinkName" name="drinkName" type="text" placeholder="Drink"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="drinkPrice" name="drinkPrice" placeholder="Price"></ion-input>
      </ion-item>
    </div>

    <div *ngIf="currentForm == FOOD_FORM">
      <ion-select placeholder="Category">
          <ion-select-option value="burger">Burger</ion-select-option>
          <ion-select-option value="pizza">Pizza</ion-select-option>
        </ion-select>

      <ion-item>
        <ion-input formControlName="foodName" name="foodName" type="text" placeholder="Food"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="foodPrice" name="foodPrice" placeholder="Price"></ion-input>
      </ion-item>
    </div>

    <ion-button size="default" expand="block" (click)="addItem()" [disabled]="!addItemForm.valid">Add Item</ion-button>

  </form>

</section>