<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="isLoginForm">
    <form [formGroup]="loginForm">

      <ion-item>
          <ion-input formControlName="email" name="email" type="email" placeholder="your@email.com"></ion-input>
      </ion-item>

      <div>
        <ng-container *ngFor="let error of validations.email">
          <div class="error-msg" *ngIf="loginForm.get('email').hasError(error.type) && loginForm.get('email').dirty">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
          <ion-input formControlName="password" name="password" type="password" placeholder="password"></ion-input>
      </ion-item>

      <div>
        <ng-container *ngFor="let error of validations.password">
          <div class="error-msg" *ngIf="loginForm.get('password').hasError(error.type) && loginForm.get('password').dirty">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
  
      <ion-button size="default" expand="block" (click)="onLogin()" [disabled]="!loginForm.valid">Login</ion-button>

    </form>

    <ion-button (click)="showForm()">Register</ion-button>
  </section>

  <section *ngIf="!isLoginForm">
      <form [formGroup]="registerForm">

          <ion-item>
              <ion-input formControlName="email" name="email" type="email" placeholder="your@email.com"></ion-input>
          </ion-item>
    
          <div>
            <ng-container *ngFor="let error of validations.email">
              <div class="error-msg" *ngIf="registerForm.get('email').hasError(error.type) && registerForm.get('email').dirty">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
    
          <ion-item>
              <ion-input formControlName="password" name="password" type="password" placeholder="password"></ion-input>
          </ion-item>
    
          <div>
            <ng-container *ngFor="let error of validations.password">
              <div class="error-msg" *ngIf="registerForm.get('password').hasError(error.type) && registerForm.get('password').dirty">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
    
          <ion-item>
            <ion-input formControlName="passwordMatch" name="passwordMatch" type="password" placeholder="confirm password"></ion-input>
          </ion-item>
    
          <div>
            <ng-container *ngFor="let error of validations.password">
              <div class="error-msg" *ngIf="registerForm.get('password').hasError(error.type) && registerForm.get('password').dirty">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
      
          <ion-button size="default" expand="block" (click)="onRegister()" [disabled]="!registerForm.valid">Register</ion-button>
    
        </form>

        <ion-button (click)="showForm()">Login</ion-button>
  </section>

</ion-content>
