

.container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ion-button{
    --border-radius: 0;
    --padding-top: 2.3em;
    --padding-bottom: 2.3em;
    --padding-start: 2.3em;
    --padding-end: 2.3em;
    margin: 13px;
}