<ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button (click)="setView(VIEW_HOME)">
          <ion-icon slot="icon-only" name="apps"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>Home</ion-title>

      <ion-buttons slot="primary">
        <ion-button (click)="onLogout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content >

  <div class="container" *ngIf="currentView == VIEW_HOME">
      <ion-button size="large" (click)="setView(VIEW_MENU)">Menu</ion-button>
      <ion-button size="large" (click)="setView(VIEW_ORDERS)">Orders</ion-button>
  </div>

  <app-show-menu *ngIf="currentView == VIEW_MENU"></app-show-menu>

  <app-show-orders *ngIf="currentView == VIEW_ORDERS"></app-show-orders>
  
</ion-content>
