
<section class="container">

  <section *ngIf="currentView == VIEW_ADD_ITEM">
    <app-add-item></app-add-item>

    <ion-button (click)="setView(VIEW_MENU)">Menu</ion-button>
  </section>


  <section *ngIf="currentView == VIEW_MENU">

    <h1>Menu</h1>

    <ion-row *ngFor="let item of showMenu() | async">
      <ion-col size="4">
        <h2>Food</h2>
        
          <div *ngFor="let food of item.food">
              <ion-list *ngIf="food.category">

            <h3>{{food.category}}</h3>     
              <ion-card *ngFor="let product of food.products">
                <img src="{{product.image}}" >

                <ion-header>
                  <ion-card-title>{{ product.name}}</ion-card-title>
                </ion-header>

                <ion-content>
                    <ion-item>{{ product.price }}</ion-item> 
                </ion-content>     
              </ion-card>
            </ion-list>

          </div>
      </ion-col>

      <ion-col size="4">
        <h2>Drinks</h2>
            <div *ngFor="let drink of item.drinks">
                <ion-list *ngIf="drink.category">

                <h3>{{drink.category}}</h3>     

                  <ion-card *ngFor="let product of drink.products">
                    <img src="{{product.image}}">
      
                    <ion-header>
                      <ion-card-title>{{ product.name}}</ion-card-title>
                    </ion-header>
      
                    <ion-content>
                        <ion-item>{{ product.price }}</ion-item> 
                    </ion-content>     
                  </ion-card>
                </ion-list>

              </div>
      </ion-col>

      <ion-col size="3" id="menuButtons">
          <ion-button (click)="setView(VIEW_ADD_ITEM)" expand="block">Add Item To Menu</ion-button>
      </ion-col>


    </ion-row>
  </section>
      
</section>
