

.container{
    margin-top: 50px;
}

ion-col{
    margin: 10px;
}

ion-col:not(#menuButtons){
    //background: #bada55;
    background: #e6e6e6;
    border-radius: 10px;
    padding-bottom: 30px;
}

h1, h2, h3{
    text-align: center;
}

h2, h3{
    color: white;
    text-shadow: 1px 1px 3px black;
}

ion-button{
    --border-radius: 0;
    --padding-top: 2em;
    --padding-bottom: 2em;
}

ion-list{
    margin-top: 20px;
    padding: 5px;
    background: #cccccc;
    border-radius: 10px;
}

ion-card{
    padding: 7px;
    --background: white;
}