

<section class="container">
  <h1>Orders</h1>

  <ion-row>

    <ion-col size="4">
      <h2>Incoming</h2>
      <ion-list class="list" cdkDropList 
      #incomingOrders="cdkDropList"
      [cdkDropListData]="showIncomingOrders()"
      [cdkDropListConnectedTo]="[inPreparationOrders]">
        <ion-card *ngFor="let order of showIncomingOrders()" cdkDrag>
          <ion-card-header>
            <ion-card-title>Order: {{order.user_id}}</ion-card-title>
            <ion-card-subtitle>Pickup Point: {{order.pickup_point}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let product of order.products">
                <ion-thumbnail>
                  <img src="{{product.image}}">
                </ion-thumbnail>
                <ion-label>{{product.name}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-list>
      
    </ion-col>

    <ion-col size="4">
        <h2>In Preparation</h2>

        <ion-list class="list" cdkDropList 
        #inPreparationOrders="cdkDropList"
        [cdkDropListData]="showInPreparationOrders()"
        [cdkDropListConnectedTo]="[finishedOrders]"
        (cdkDropListDropped)="onInPreparationDrop($event)">
          <ion-card *ngFor="let order of showInPreparationOrders()" cdkDrag>
            <ion-card-header>
              <ion-card-title>Order: {{order.user_id}}</ion-card-title>
              <ion-card-subtitle>Pickup Point: {{order.pickup_point}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let product of order.products">
                  <ion-thumbnail>
                    <img src="{{product.image}}">
                  </ion-thumbnail>
                  <ion-label>{{product.name}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-list>
    </ion-col>

    <ion-col size="3" id="finishedCol">

        <div cdkDropList 
        #finishedOrders="cdkDropList"
        (cdkDropListDropped)="onFinishedDrop($event)">
        <h2>Finished</h2>

        </div>
    </ion-col>

  </ion-row>

</section>
