
.container{
    margin-top: 50px;
}

ion-col#finishedCol{
    border: 2px dotted black;
}

ion-col{
    margin: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
    background: #e6e6e6;
}
.list{
    margin-top: 20px;
    background: #e6e6e6;
}

ion-card{
    padding: 7px;
    --background: white;
}

ion-col, .list{
    min-height: 50vh;
}


h2, h1{
    text-align: center;
}

h2{
    color: white;
    text-shadow: 1px 1px 3px black;
}

#finishedCol div{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}